<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Page Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-RlckXIFvY47j1c6r9pX1mX1Lm9w1wWt1+2Lt+3Lt1+2Lt+3Lt1+2Lt+3Lt+3Lt1+2Lt+3Lt1+2Ltl+3Lt1+2Lt+3Lt1+2Lt+3Lt1+2Lt+3Lt1+2Lt+1">
</head>
<body>
    <h1>My Flask App</h1>
    <p>Welcome to my Flask app!</p>
</body>
</html>